* {
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: black;
    opacity: 0.7;
    padding: 1rem 3rem;
    font-size: 0.9rem;
    #appName {
        font-size: 1.2rem;
        font-family: cursive;
    }
    div {
        color: whitesmoke;
    }
    #navLinks {
        span {
            margin: 1rem;
        }
    }
    #search {
        input {
            padding: 0.5rem;
            border-radius: 0.5rem;
            outline: none;
            border: none;
            width: 18rem;
        }
        button {
            width: 5rem;
            padding: 0.5rem;
            background: green;
            border: transparent;
            outline: none;
            color: black;
            border-radius: 4px;
        }
    }
    z-index: 2;
}

#home {
    min-height: 100vh !important;
    width: 100% !important;
    background-image: url("./home.jpg");
    background-size: cover;
}

section#mainHome {
    background: transparent; /* fallback for old browsers */
    background-image: linear-gradient(
        to right,
        #07604d,
        transparent,
        transparent
    );
    height: 100vh;
    color: whitesmoke;
    display: flex;
    justify-content: left;
    align-items: flex-baseline;
    padding: 8rem;
    .homeTitle {
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 5.5rem;
    }
    .home--desc {
        width: 40%;
    }
    .home--intro {
        position: relative;
        top: 50px;
    }
}

.aboutUs {
    background-image: url("./about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .about--desc {
        padding: 3rem 5rem;
        height: 80vh;
        line-height: 20px;
        div {
            padding: 0.5rem 0rem;
        }
    }
}

.contact {
    background: url("./contact.jpg");
    background-size: cover;
    position: relative;
    .contact--desc {
        padding: 0 2rem;
        position: absolute;
        top: 100px;
        right: 10px;
        width: 50%;
    }
}
